.analysis-main-container {
  background-color: #0f172a;
  height: 640px;
  width: 360px;
  padding: 10px;
  background-attachment: fixed;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8fafc;
}
.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-data-img {
  width: 296px;
  height: 220px;
  margin: 10px;
}
.no-data-head {
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  .analysis-main-container {
    height: 1024px;
    width: 1440px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f8fafc;
    flex-shrink: 1;
  }
  .no-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .no-data-img {
    width: 551px;
    height: 409px;
    margin: 10px;
  }
  .no-data-head {
    font-size: 32px;
    font-weight: 700;
  }
}
